* {
      font-family: "Century Gothic",Verdana,Arial;
      font-weight: bold;
    }
    body {
      background: black;
      overflow:hidden;
    }
      #slot {
        width: 32px;
        height: 32px;
        margin: 1px 3px;
        overflow:hidden;
        display: inline-block;
        border: 3px solid #77B4CC;
        position: relative;
        border-radius: 5px;
        background: #203940;
      }
      #slot img, span {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        image-rendering: pixelated;
      }
      .background {
        border-color: #D3C87B !important;
      }
      .selected {
        border-color: #FDAA0C !important;
      }
      #inventory .btn {
        display: inline-block;
        background: #79b5c6;
        color: white;
        border-radius: 5px;
        margin: 3px;
        padding: 2px;
      }

#slot .tip {
  visibility: hidden;
      width: 170px;
      background-color: rgba(97, 141, 158, 0.8);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: fixed;
      z-index: 1;
      bottom: 20%;
      left: 50%;
      margin-left: -85px;
}

#slot:hover .tip {
    visibility: visible;
}
      #container canvas {
        position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
transform:scale(1);
transform-origin: 0 0;
      }
      .load {
        width:0;
        height:0;
        position:absolute;
        z-index:-1;
      }
      #load {
        display:block;
        position:relative;
        top:0;
        color:#fff;
      }
      #bar,#alert {
        border: 2px solid white;
      }
      #alert span {
        display: block;
      }
      #alert #close {
        width: 50px;
        margin: 0.5em auto;
        border: 2px solid white;
      }
      a {
        text-decoration: none;
        color: #ccc;
      }
      #appDrawer {
        position: fixed;
        height: 100%;
        height: calc(100% - 70px);
        width: 40%;
        background-color: #3f3f3f;
        background: rgba(0, 0, 0, 0.68);
        z-index: 2;
        color: rgb(255, 255, 255);
        overflow: auto;
      }
      #appDrawer ul {
        padding: 0 0.5em;
      }
      #appDrawer ul * {
        float: left;
        clear: left;
      }
      #appDrawer ul li {
        cursor: pointer;
      }
      #menu h2 {
        display: inline-block;
        vertical-align: top;
        margin: 8px;
      }
      @media screen and (max-width: 425px) {
        #appDrawer {width:55%;}
        #appDrawer ul {margin-top:0;}
        #menu h2 {font-size: 1.25em;margin: 12px auto;}
      }
      @media screen and (min-width: 950px) {
        #appDrawer {width:30%;}
        #appDrawer ul {margin-top:0.5em;}
      }
	  #inventory {
		  width: 100%;
		  border-radius: 5px;
position: absolute;
bottom: 0px;
	  }
